__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.json

.env
.venv/
venv/
env/

.DS_Store

logs/
logs/*
output/
output/*

.ipynb_checkpoints/

.vscode/
.vscode/*

.idea/
.idea/*

build/
dist/
*.egg-info/

.coverage
.cache/
pytest_cache/